.track-compose-content {
  --video-width: 600px;
  --form-width: 400px;
  --controls-height: 30px;

  button {
    width: 100%;
    border: 0;
    height: calc(var(--grid) * 8);

    font-size: var(--text30-font);
    line-height: var(--text30-line);

    transition: all 0.2s var(--hover-timing);

    &:hover {
      transform:          scale(1.1);
    }
  }

  &.mobile {
    display: block;
    padding: var(--padding40);

    .form-content {
      width: calc(100% - var(--padding10) * 2);

      .actions, form {
        margin: var(--padding10);
      }

      .color-picker {
        position: fixed;
      }
    }
  }

  &:not(.mobile) {
    --scrollbar-margin: var(--padding20);

    display: flex;
    padding: var(--padding40) calc(var(--padding40) - var(--scrollbar-margin)) var(--padding40) var(--padding40);

    .form-content {
      width: var(--form-width);

      .actions, form {
        margin: 0 var(--scrollbar-margin) 0 var(--padding40);
      }

      .color-picker {
        position: absolute;
      }
    }
  }

  color: #C3C3C3;
  background-color: #1F1F1F;
  border-radius: var(--radius-big);
  text-align: left;
  box-shadow: var(--shadow-strong);

  > div {
    margin: 0 auto;
    max-width: var(--video-width);
  }

  .form-content {
    display: flex;
    flex-direction: column;
    position: relative;

    .actions, form > * {
      margin-top: 8px;
    }

    .horizontal {
      display: flex;
      align-items: center;

      .text {
        display: block;
        width: 100%;
        font-weight: normal;
        font-size: 12px;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(var(--grid) * 30);
      }

      input[type="range"] {
        width: calc(100% - var(--padding10) * 2);
      }
    }

    .thumb-vetical {
      background-color: #fff4;
      border-radius: inherit;
      cursor: pointer;
    }

    .tablist {
      display: flex;

      button {
        box-sizing: content-box;
        margin: var(--padding10);
        background-color: var(--textcolor);
        color: var(--color1);
      }
    }

    fieldset {
      font-size: var(--text20-font);
      line-height: var(--text20-line);

      legend {
        font-weight: bold;
        width: 100%;

        & + legend {
          margin-top: var(--padding10);
        }
      }

      label {
        display: block;
      }

      .checkbox {
        width: auto;

        label {
          font-size: 14px;
        }

        .checkbox-label-head {
          margin-right: 4px;
        }
      }

      .checkbox-label {
        font-size: 12px;
      }

      .horizontal {
        flex-basis: calc(var(--grid) * 20);
      }

      .chrome-picker {
        margin: var(--verticalspace20);
      }
    }

    .color-picker {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .delay.legend {
    max-height: 0;
    padding: 0 0 0 10px;

    &.visible {
      max-height: 100px;
    }

    legend {
      & > div, & > label {
        margin-bottom: var(--padding10);
      }
    }
  }

  .track-compose-effect {
    padding-top: 4px;

    .text {
      padding-right: 10px;
      text-align: right;
    }
  }

  .track-compose-radio {
    .checkbox + .checkbox {
      margin-left: 12px;
    }
  }

  .track-compose-file-upload {
    display: inline-block;
    position: relative;
    margin-top: 4px;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;
    color: var(--linkcolor2);
    background-color: var(--color1);
    box-sizing: border-box;
    max-width: calc(var(--form-width) - var(--scrollbar-margin) - var(--padding40));
    transition: all 0.2s var(--hover-timing);

    &:hover {
      transform: scale(1.1);
    }

    &.settled {
      color: white;
      background-color: var(--linkcolor2);

      svg {
        stroke: white;
      }
    }

    .track-compose-file-upload-body {
      display: flex;
      align-items: center;
      height: 40px;
    }

    .icon {
      display: block;
      padding-top: 4px;
    }

    .text {
      margin-left: 4px;
      white-space: pre;

      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.01;
      cursor: pointer;
    }

    svg {
      stroke-width: 2px;
      stroke: var(--linkcolor2);
    }
  }

  .track-compose-text-input, .track-compose-text-textarea {
    position: relative;

    .text {
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
      bottom: 0;
      color: #494949;
      line-height: 32px;
      font-weight: bold;
      pointer-events: none;
    }

    input {
      display: block;
      box-sizing: border-box;
      padding: 0 10px;
      width: 100%;
      height: 32px;
      color: white;
      background-color: #161616;
      border: 0;
      border-radius: var(--radius);
      font-size: 16px;
    }

    input[type="text"] {
      display: block;
      padding: var(--padding10);
      border-radius: var(--grid);

      font-size: var(--text30-font);
      line-height: var(--text30-line);

      outline: none;
      transition: box-shadow 0.8s var(--hover-timing);

      &:focus {
        box-shadow: 0 0 0 2px var(--linkcolor2);
      }
    }

    textarea {
      display: block;
      box-sizing: border-box;
      height: calc(var(--grid) * 10);
      min-height: 96px;
      width: 100%;
      padding: var(--padding10);
      border: 0;
      border-radius: var(--grid) var(--grid) 0 0;
      resize: none;

      background-color: #161616;
      color: white;
      font-size: var(--text30-font);
      line-height: var(--text30-line);

      outline: none;
      transition: box-shadow 0.8s var(--hover-timing);

      &:focus {
        box-shadow: 0 0 0 2px var(--linkcolor2);
      }
    }
  }

  .actions {
    display: flex;
    align-items: flex-end;

    button {
      display: inline-block;
      margin: var(--verticalspace30);
      width: auto;
      height: 40px;
      padding: 0 20px;
      margin-left: calc(var(--grid) * 2);
      font-weight: bold;

      border-radius: 20px;
      background-color: var(--linkcolor2);
      color: var(--color1);

      &.cancel {
        background-color: #585858;
        font-weight: normal;
      }

      &.privacy-toggle {
        display: flex;
        color: var(--linkcolor2);
        background-color: var(--color1);

        svg {
          stroke-width: 2px;
          stroke: var(--linkcolor2);
        }

        .privacy-dropdown__value-button-text {
          margin-left: 4px;
        }
      }

      &.disabled {
        background-color: #585858;
        cursor: default;
      }

      & + button {
        margin-left: 10px;
      }

      &:first-child {
        margin-right: auto;
        margin-left: 0;
      }
    }

    .privacy-dropdown > .privacy-dropdown__dropdown{
      bottom: 40px;
    }
  }

  .caution {
    margin-top: 24px;
    font-size: var(--text10-font);
    background-color: var(--textcolor);
    padding: var(--padding10);
    border-radius: var(--radius);
  }
}
