.musicvideo {
  --controls-container-height: 40px;

  .loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      display: block;
      border: solid #888;
      border-right: solid #000;
      border-radius: 50%;
      animation: plload 0.6s linear 0.0s infinite;
      padding: var(--iconsize40);
      border-width: 2px;
      transition: border-width 0.2s ease-out 0.3s, padding 0.2s ease-out 0.3s;
    }
  }

  .canvas-container {
    position: relative;

    canvas {
      pointer-events: none;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  audio {
    display: block;
  }

  .controls-container {
    overflow: hidden;
    height: 0;
    transition: height 240ms ease-in-out;

    &.visible {
      height: var(--controls-container-height);
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding15);
    background-color: #000000;
    border-radius: 0 0 var(--grid) var(--grid);

    .toggle {
      display:      block;
      margin-right: 10px;
      flex-shrink:  0;
      flex-grow:    0;
      flex-basis:   var(--iconsize10);
      color:        var(--strong2);

      width:  var(--iconsize10);
      height: var(--iconsize10);
      cursor: pointer;
    }

    .icon-button {
      svg {
        stroke-width: 2px;
        stroke: #585858;
      }
    }

    .rc-slider {
      .rc-slider-track {
        background-color: #d6d6d6;
      }
      .rc-slider-rail {
        background-color: #4a4a4a;
      }
      .rc-slider-handle {
        border: solid 2px #000000;
      }
    }
  }
}
