.icon {
  display: inline-flex;
  align-items: center;

  &.fa, svg {
    transition: all 0.2s var(--hover-timing);
  }

  svg {
    width: var(--iconsize13);
    height: var(--iconsize13);
    stroke: var(--linkcolor);
    stroke-width: var(--linkcolor);
  }

  &.fa {
    color: var(--linkcolor);
    font-size: var(--iconsize13);
    font-weight: normal;
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      svg {
        stroke-width: 2px;
        stroke: var(--strong1);
      }

      &.fa {
        color: var(--strong1);
        font-weight: bold;
      }
    }
  }

  &.scale {
    &:hover {
      svg {
        transform: scale(1.4);
      }

      &.fa {
        font-size: calc(var(--iconsize13) * 1.4);
      }
    }
  }

  &.strong {
    svg {
      stroke-width: 2px;
    }

    &.fa {
      font-weight: bold;
    }
  }

  &.active {
    svg {
      stroke: var(--strong1);
      stroke-width: 2px;
    }

    &.fa {
      color: var(--strong1);
      font-weight: bold;
    }
  }
}
