.album {
  .musicvideo-wrapper {
    display: block;
    position: relative;
    box-shadow: var(--shadow);
    background-size: cover;
    background-position: center center;
    background-color: #171717;

    .thumbnail {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      width:  var(--width-gallery);
      height: var(--width-gallery); // aspect ratio 1:1

      .playbutton {
        display: block;
        height:     var(--iconsize40);
        width:      var(--iconsize40);
      }

      &:hover .playbutton {
        opacity:    var(--hover-opacity);
        transition: var(--hover-transition);
      }

      .tracks-count {
        position: absolute;
        top: var(--padding15);
        right: var(--padding15);

        background-color: rgba(0, 0, 0, 0.7);
        padding: var(--grid) var(--padding20);
        border-radius: var(--padding20);
        color: #fff;
      }
    }

    .canvas-container {
      width: var(--width-gallery);
      height: var(--width-gallery);
    }
  }

  .album-track-info {
    cursor: pointer;

    &:hover {
      background-color: var(--color2);
    }

    &.active {
      background-color: var(--color2);
      color: var(--strong1);
    }
  }
}
