.embed-musicvideo {
  position: relative;

  .track {
    width: 100%;
    height: calc(100% - var(--padding5-value) * 2 - var(--text20-line) - var(--text40-line));
  }

  .meta {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent !important;  // 自動で白を入れるのを切ってくださいまし
    padding: var(--padding10);
    width: 100%;
    box-sizing: border-box;

    .artist, .title {
      display: inline-block;
      font-weight: 100;
      padding: var(--padding5);

      background-color: rgba(0, 0, 0, 0.7);
    }

    .artist {
      color: #cccccc;
      font-size: var(--text10-font);
      line-height: var(--text10-line);
      text-decoration: underline;
    }

    .title {
      color: #ffffff;
      font-size: var(--text20-font);
      line-height: var(--text20-line);
      margin: var(--verticalspace10);
    }
  }
}
