.embed-musicvideo {
  .track {
    width:  100%;
    height: calc(100% - var(--padding5-value) * 2 - var(--text20-line) - var(--text40-line));
  }

  .meta {
     padding: var(--padding5);

    .credit {
      display:        flex;
      font-size:      var(--text20-font);
      line-height:    var(--text20-line);

      > p {
        flex:          1;
        font-weight:   100;

        overflow:      hidden;
        white-space:   nowrap;
        text-overflow: ellipsis;
        color: inherit;
      }

      > a {
        flex:        0;
        margin-left: 8px;

        * {
          height: var(--text20-font);
        }
      }
    }

    h1 {
      font-size:     var(--text40-font);
      font-weight:   100;
      line-height:   var(--text40-line);

      overflow:      hidden;
      white-space:   nowrap;
      text-overflow: ellipsis;

      > a {
        &:link, &:visited, &:hover, &:focus, &:active {
          color: inherit;
        }
      }
    }
  }
}
