.album-tracks-count {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  margin: var(--padding15);
  padding: var(--grid) var(--padding20);
  border-radius: var(--padding20);
  color: #fff;
}
