.music-compose-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-lightbox_and-icon);
  background-color: rgba(255, 255, 255, 0.75);
  overflow-y: scroll;

  .music-compose-modal-body {
    box-sizing: border-box;
    height: 100%;
  }
}
