ul.status-reactions {
  margin: var(--verticalspace20);
  display: flex;
  align-items: center;

  > li {
    color: var(--strong2);

    &:hover {
      cursor: pointer;
    }

    &.add .icon, &:not(.add) {
      border-radius: var(--radius);
      border: 1px solid var(--color3);

      height: var(--iconsize30);
      box-sizing: border-box;

      padding: var(--padding5);
    }

    &:not(.add) {
      margin: var(--rightspace15);
    }
  }
}
