- if activity.is_a?(Status) && activity.music.is_a?(Track)
  = opengraph 'og:description', activity.music.text
- elsif activity.is_a?(Status) && activity.spoiler_text?
  = opengraph 'og:description', activity.spoiler_text
- else
  = opengraph 'og:description', activity.content
