- content_for :header_tags do
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)
  = csrf_meta_tags

#pawoo-music-default-props{ data: { props: Oj.dump(default_props) } }
#pawoo-music-album{ data: { props: json_escape(@status_json) } }
  -# These loads fonts required for music videos.
  %div{ style: 'font-family: Roboto; font-weight: 500' } Loading…
  %div{ style: 'font-family: Roboto; font-weight: normal' } Please wait for a moment.

  = javascript_pack_tag 'album', integrity: true, crossorigin: 'anonymous'
