.custom-color {
  height: auto;
  max-width: 400px;

  .form-content {
    display: flex;

    .color-selectors {
      flex: 1;
    }

    .color-selector {
      display: flex;
      margin-bottom: var(--verticalspace25-value);

      .text {
        display: block;
        width: 100%;

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(var(--grid) * 30);
      }
    }
  }

  .preview {
    --width-gallery: 100%;
    margin-top: var(--verticalspace25-value);


    .account-header-pm {
      text-align: center;
    }

    .status {
      margin-top: var(--verticalspace20-value);
      border-radius: var(--radius);
    }
  }
}
