ul.status-action-bar {
  display: flex;
  margin:  var(--verticalspace20);

  > li {
    height: var(--iconsize13);
    margin:  var(--rightspace15);
  }

  .icon.strong {
    svg {
      stroke: var(--strong2);
    }

    &:hover {
      svg {
        stroke: var(--strong1);
      }
    }
  }
}
