.track {
  display: block;
  position: relative;
  box-shadow: var(--shadow);
  background-size: cover;
  background-position: center center;
  background-color: black;

  .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .playbutton {
      display: block;
      height:     var(--iconsize40);
      width:      var(--iconsize40);
    }

    &:hover .playbutton {
      opacity:    var(--hover-opacity);
      transition: var(--hover-transition);
    }
  }

  &.fit-contain {
    width: 100%;
    height: 100%;

    .thumbnail {
      width: 100%;
      height: 100%;
    }

    .musicvideo {
      width: 100%;
      height: 100%;

      .canvas-container {
        width: 100%;
        height: calc(100% - var(--controls-container-height));

        * {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &:not(.fit-contain) {
    .thumbnail {
      width:  var(--width-gallery);
      height: var(--width-gallery); // aspect ratio 1:1
    }

    .canvas-container {
      width: var(--width-gallery);
      height: var(--width-gallery);
    }
  }
}
