.track {
  display: block;
  box-shadow: var(--shadow);
  background-size: cover;
  background-position: center center;
  background-color: black;

  .thumbnail {
    position: relative;

    .thumbnail-image {
      width: 100%;
      display: block;
    }

    .playbutton {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .playbutton-icon {
        display: block;
        height: var(--iconsize50);
        width: var(--iconsize50);
        background-image: url('/packs/pawoo_music/play.png');
        background-size: cover;
      }

      &:hover .playbutton-icon {
        background-image: url('/packs/pawoo_music/play_hover.png');
      }
    }
  }

  &.fit-contain {
    width: 100%;
    height: 100%;

    .thumbnail {
      width: 100%;
      height: 100%;
    }

    .musicvideo {
      width: 100%;
      height: 100%;

      .canvas-container {
        width: 100%;
        height: calc(100% - var(--controls-container-height));

        * {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &:not(.fit-contain) {
    .thumbnail {
      width: var(--width-gallery-canvas);
      height: var(--width-gallery-canvas);
    }

    .canvas-container {
      width: var(--width-gallery-canvas);
      height: var(--width-gallery-canvas);
    }
  }
}
