/*
  NOTE: Overlaying UIs for the embedded view is depending on the layout of
        this component. Do not forget to check the embedded view and adjust it
        if necessary.
*/

.musicvideo {
  position: relative;
  --controls-container-height: 40px;

  .loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      display: block;
      border: solid #888;
      border-right: solid #000;
      border-radius: 50%;
      animation: plload 0.6s linear 0.0s infinite;
      padding: var(--iconsize40);
      border-width: 2px;
      transition: border-width 0.2s ease-out 0.3s, padding 0.2s ease-out 0.3s;
    }
  }

  .canvas-container {
    canvas {
      pointer-events: none;
      object-fit: contain;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  audio {
    display: block;
  }

  .controls-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: opacity 240ms ease-in-out;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.7));
    pointer-events: none;

    &.visible {
      height: calc(var(--controls-container-height) * 3);
      opacity: 0.7;

      .controls {
        display: flex;
      }
    }
  }

  .controls {
    display: none;
    justify-content: center;
    align-items: center;
    padding: var(--padding15);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: auto;

    .toggle {
      display:      block;
      margin-right: 10px;
      flex-shrink:  0;
      flex-grow:    0;
      flex-basis:   var(--iconsize10);
      color:        var(--strong2);

      width:  var(--iconsize10);
      height: var(--iconsize10);
      cursor: pointer;
    }

    .icon {
      svg {
        stroke: #ffffff;
      }
    }

    .rc-slider {
      .rc-slider-track {
        background-color: #e00000;
      }
      .rc-slider-rail {
        background-color: #ffffff;
      }
      .rc-slider-handle {
        background-color: #e00000;
        border: solid 2px #e00000;
      }
    }
  }
}
