.embed-musicvideo {
  position: relative;
  height: auto;

  .embed-ui {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .track {
      width: 100%;
      height: calc(100% - var(--padding5-value) * 2 - var(--text20-line) - var(--text40-line));
    }

    .info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: var(--padding10);
      box-sizing: border-box;

      display: flex;
      justify-content: space-between;


      .meta {
        .playlist_toggle, .artist, .title {
          display: inline-flex;
          align-items: center;
          font-weight: 100;
          padding: var(--padding5);
        }

        .playlist_toggle {
          color: #000000;
          background-color: #ffffff;
          border-radius: var(--iconsize20);
          padding: var(--padding10) var(--padding15);
          height: var(--iconsize13);
          font-size: var(--text10-font);
          line-height: var(--text10-font);

          b {
            font-weight: bold;
            font-size: var(--text20-font);
            margin: var(--rightspace5);
          }

          .icon svg {
            stroke: #000000;
            stroke-width: 2px;
          }
        }

        .artist {
          color: #cccccc;
          background-color: rgba(0, 0, 0, 0.7);
          font-size: var(--text10-font);
          line-height: var(--text10-line);
          text-decoration: underline;
          margin: var(--verticalspace20);
        }

        .title {
          color: #ffffff;
          background-color: rgba(0, 0, 0, 0.7);
          font-size: var(--text20-font);
          line-height: var(--text20-line);
          margin: var(--verticalspace10);
        }
      }


      .actions {
        text-align: right;

        // ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----
        // フォローボタンのコンポーネントに置き換えた後は、ここをけして　OK!!!!!!!!!!
        .follow {
          color: #ffffff;
          border: 1px solid #ffffff;
          border-radius: 20px;
          box-sizing: border-box;
          display: flex;
          padding: var(--padding10) var(--padding15);
          margin: 0 0 0 var(--grid);
          justify-content: center;
          align-items: center;
          font-size: var(--text10-font);
          font-weight: bold;
        }
        // ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----

        .share {
          margin: var(--verticalspace20);
          padding: var(--padding10);

          &.icon svg {
            width: var(--iconsize20);
            height: var(--iconsize20);
            stroke: #ffffff;
            stroke-width: 2px;
          }
        }
      }
    }


    .album_playlist {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      background-color: var(--color1);
      top: 0;
      font-size: var(--text20-font);
      line-height: var(--text20-line);
      box-sizing: border-box;

      overflow-x: hidden;
      white-space: nowrap;


      li {
        padding: var(--padding10);
        display: flex;
        align-items: center;

        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;

        .icon {
          margin: var(--rightspace10);
        }

        &.playing {
          color: var(--linkcolor2);
          background-color: var(--color2);

          .icon svg {
            stroke: var(--linkcolor2);
            stroke-width: 2px;
          }
        }
      }
    }
  }

  .status-reactions {
    position: absolute;
    bottom: calc(var(--iconsize10) + var(--padding15-value));
    left: 0;

    display: flex;
    align-items: flex-end;
    padding: var(--padding10);

    margin: 0;

    > li {
      background: transparent;
      border: 1px solid var(--color3);
      color: #ffffff;

      &.add .dropdown-content {
        bottom: var(--padding40);
      }

      &.add .icon svg {
        stroke: #ffffff;
      }
    }
  }

  .embed-ui, .status-reactions {
    opacity: 0;
  }

  &:hover {
    .embed-ui, .status-reactions {
      opacity: 1;
      transition: var(--hover-transition);
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
